<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>

		<add key="File.Output"			value="512-primes-output002.txt"/>

		<add key="Prime.BitSize"		value="512"/>

		<add key="Quantity"				value="5000000"/>

		<add key="ThreadSleep.Duration" value="200"/>
		
		<add key="Search.Depth"			value="6"/>

		<add key="Silent.Mode"			value="true"/>

		<add key="Logging.Enabled"		value="false"/>

	</appSettings>
</configuration>
