<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>		
		<add key="LogFile.Methods"			value="Methods.log.txt"/>
		<add key="LogFile.Timers"			value="Timers.log.txt"/>
		<add key="LogFile.Exceptions"		value="Exceptions.log.txt"/>

		<add key="LogFile.Primes"			value="2048-primes-output001.txt"/>

		<add key="Prime.BitSize"		value="2048"/>

		<add key="Quantity"				value="3"/>

		<add key="ThreadSleep.Duration" value="50"/>
		
		<add key="Search.Depth"			value="3"/>

		<add key="Verbose.Mode"			value="false"/>

		<add key="Logging.Enabled"		value="false"/>

	</appSettings>
</configuration>
